html {
    height: 100%;
}

@keyframes heartbeat {
    from { font-size: 10px; }
    to   { font-size: 25px; }
  }

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.5);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes wiggling {
    from { transform: rotate(5deg); }
    to   { transform: rotate(-5deg); }
}

body {
    font-family: 'Neucha', cursive;
    color: #777777;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-section {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    /* position: relative; */
}

h1 {
    margin: 0 auto;
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    padding: 20px;
    font-size: 33px;
    float: left;
    border: 1px solid #cccccc;
    
}

.links {
    text-align: center;
    float: right;
    padding: 25px 0 0 0;
}

a {
    color: grey;
    font-size: 24px;
}

#portfolio {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0 20px 0 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.content-block {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    border-top: 1px solid #eee;
    background-image: url("../images/trees.png");
    width: 100%;
    flex: 1 0 auto;

}

#main-content {
    background-color: #ffffff;
    width: 920px;
    margin: 0 auto;
    margin-top: 20px;
    /* position: relative; */
    padding: 0 20px 20px 20px;   
}

h2 {
    color: #4aaaa5;
    text-align: left;
    padding: 25px 0 25px 0;
    border-bottom: 2px solid #eee;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
}

#my-picture {
    float: left;
    width:166px;
    height: 145px;
    padding: 0 20px 20px 0;
}

.paragraph {
    line-height: 30px;
    font-size: 28px;
}

/* PortFoilo.html Styling */
.projects{
    display: inline-block;
    width: 30%;
    position: relative;
    margin-right: 20px;
    margin-bottom: 40px;
}

.proj_image {
    height: 300px;
    width: 276px;
    animation: pop-in .2s ease-out forwards;
}

.proj_name {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    top: 211px;
    text-align: center;
    width: 100%;
    padding: 20px 0 20px 0;
    animation: pop-in .8s ease-out forwards;
}


.heartbeat {
    animation-delay: 1s;
    animation: heartbeat 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }


.generic-modal {
    display: none;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    
}


#pacman-details {
    background-color: #fefefe;
    margin: auto;  
    padding: 20px;
    border: 2px solid #888;
    width: 70%;
    /* overflow: auto; */
    position: relative;
    /* flex: 1 0 auto; */
}

#pacman-h3:hover{
    background-color: purple;
    animation: wiggling 0.02s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    cursor: zoom-in;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    display: block;
    text-align: right;
    padding: 0 12px 14px 0;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
   
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
   
  /* 4x3 Aspect Ratio */
  .iframe-container-4x3 {
    padding-top: 75%;
  }
/* 
  #pacman-video {
    width:1280px;
    height:720px;
    margin: auto;
  } */

/* Contact.html Styling */
form {
    line-height: 30px;
}

.regular_textbox {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.textarea {
    width: 100%;
    height: 200px;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 85px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    clear:both;
    overflow: auto;
    padding: 10px 0 10px 0;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;
}